.nav-bar{
    background-color: #666;
    width: 100%;
    padding: .5rem;
    text-align: center;

}

.nav-text {
    color: #010;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}